html {
  min-height: 100%;
}

body {
  min-height: 100vh;
  font-family: $font-primary;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: $color-black;
  background-color: $color-white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media ($break-md) {
    background-color: $color-gray-10;
  }
}

h2, h3, h4, h5 {
  text-transform: uppercase;
  letter-spacing: .05rem;;
}

h1 {
  font-family: $font-secondary;
  font-size: 24px;
  line-height: 28px;
  font-feature-settings: 'pnum' on, 'lnum' on, 'kern' off;
}

h2 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;

  @media ($break-lg) {
    font-size: 48px;
    line-height: 59px;
  }
}

h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  font-feature-settings: 'pnum' on, 'lnum' on, 'kern' off;
}

h4 {
  font-weight: 600;
  font-size: 15px;
  line-height: 23px;
  font-feature-settings: 'pnum' on, 'lnum' on, 'kern' off;
}

p, label {
  letter-spacing: .05rem;
  font-feature-settings: 'pnum' on, 'lnum' on, 'kern' off;
}

a {
  color: $color-black;

  &:hover {
    color: $color-black;
    text-decoration: none;
  }
}