//fonts
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Italiana', sans-serif;

//colors

$color-darkblue: #06254D;
$color-green: #6DAB06;
$color-orange: #E2832B;
$color-white: #FFF;
$color-gray: #DADADA;
$color-gray-10: #F9F9F9;
$color-gray-20: #E7E7E7;
$color-gray-30: #C4C4C4;
$color-gray-70: #7E7E7E;

//$color-black: #000;
$color-black: #202020;
$color-gray-10: #FEFEFE;

//gradients

$gradient-darkblue: linear-gradient(180deg, #06254D 0%, #23446F 100%);
$gradient-darkblue-rgba: linear-gradient(180deg, rgba(6, 37, 77, 0.9) 0%, rgba(35, 68, 111, 0.9) 100%);
//media query

$break-sm: "min-width: 576px";
$break-md: "min-width: 769px";
$break-lg: "min-width: 992px";
$break-xl: "min-width: 1200px";

//elements

$menu-mobile-height: 54px;
$menu-height: 154px;