.banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 2vw;

  @media ($break-xl) {
    padding: 25px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba($color-black, .45)
  }

  &--instagram {
    justify-content: center;
    align-items: center;
    background: linear-gradient(44deg, #FC466B 0%, #3F5EFB 100%);
    opacity: .85;
    transition: opacity .3s ease;

    &::before {
      display: none;
    }

    &:hover {
      opacity: .95;
    }
  }

  &--facebook {
    justify-content: center;
    align-items: center;
    background: linear-gradient(44deg, #3F5EFB 0%, #4267b2 100%);
    opacity: .85;
    transition: opacity .3s ease;

    &::before {
      display: none;
    }

    &:hover {
      opacity: .95;
    }
  }

  &__img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 0;
  }

  &__icon {
    height: 60px;
    width: 60px;
    margin-bottom: 15px;

    svg {
      height: 100%;
      width: 100%;

      path {
        fill: $color-white;
      }
    }
  }

  &__header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 22vw;
    line-height: 1.2;
    text-transform: uppercase;
    color: $color-white;
    z-index: 1;

    @media ($break-sm) {
      font-size: 8vw;
    }

    @media ($break-xl) {
      font-size: 130px;
      line-height: 158px;
    }
  }

  &__text, &__link {
    display: none;
    color: $color-white;
    z-index: 1;

    @media ($break-md) {
      display: block;
    }
  }

  &__text {
    font-weight: 600;
    font-size: 1vw;
    line-height: 1.2;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on, 'kern' off;
    margin-bottom: .5vw;

    @media ($break-sm) {
      font-size: 1.5vw;
    }

    @media ($break-xl) {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 10px;
    }
  }

  &__link {
    font-weight: normal;
    font-size: 1vw;
    line-height: 1.2;
    letter-spacing: .1em;
    font-feature-settings: 'pnum' on, 'lnum' on, 'kern' off;
    margin: 0;

    @media ($break-sm) {
      font-size: 1.2vw;
    }

    @media ($break-xl) {
      font-size: 15px;
      line-height: 18px;
      margin-bottom: 10px;
    }

    &:hover {
      color: $color-white;
    }
  }
}