.details {
  display: flex;
  flex-direction: column;

  &__price {
    margin-bottom: 40px;
  }

  &__colorList {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    list-style: none;
    margin-bottom: 80px;
  }

  &__colorItem {
    height: 35px;
    width: 35px;
    border: 1px solid $color-black;
    transition: transform .3s ease;
    cursor: pointer;

    &:hover, &--active {
      transform: scale(1.2);
    }

    &--1 {
      background-color: #C4C4C4;
    }

    &--2 {
      background-color: #000;
    }

    &--3 {
      background-color: #DACBCB;
    }

    &--4 {
      background-color: #FFF;
    }
  }

  &__btn {
    margin-bottom: 55px;
  }

  .select2 {
    max-width: 160px;
    margin-bottom: 70px;

    &-selection {
      border: 0;
      border-bottom: 1px solid $color-black;
      border-radius: 0;

      &__arrow {
        b{
          display: none;
        }

        &::before {
          content: '';
          height: 6px;
          width: 6px;
          border-bottom: 1px solid black;
          border-left: 1px solid black;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
    }
  }
}