.menu {

  &__nav {
    height: $menu-mobile-height;
    width: 100%;
    position: fixed;
    background-color: $color-white;
    z-index: 999;
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.03);

    @media ($break-md) {
      height: $menu-height;
    }
  }

  &__content {
    //display: flex;
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-template-areas: "menu search icons";
    height: 100%;

    @media ($break-md) {
      grid-template-columns: calc(50% - 125px) 250px calc(50% - 125px);
      grid-template-areas: ". brand icons"
                           "menu menu search";
    }
  }

  //&__top {
  //  display: grid;
  //  grid-template-columns: 1fr 1fr 1fr;
  //  height: 84px;
  //}

  //&__bottom {
  //  display: flex;
  //  justify-content: space-between;
  //  align-items: center;
  //  flex: 1;
  //}

  &__brand {
    display: none;
    justify-content: center;
    align-items: center;
    grid-area: brand;

    @media ($break-md) {
      display: flex;
    }
  }

  &__hamburger {
    height: 54px;
    width: 37px;
    grid-area: menu;
    align-self: center;
    padding-top: 17px;
    padding-right: 17px;
    padding-bottom: 17px;
    z-index: 999;

    @media ($break-md) {
      display: none;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    list-style: none;
    background-color: $color-white;
    margin: 0;
    transform: translateX(-100%);
    transition: transform .3s ease;
    z-index: 99;

    &--active {
      transform: translateX(0);
    }

    @media ($break-md) {
      flex-direction: row;
      justify-content: space-between;
      grid-area: menu;
      height: auto;
      position: static;
      transform: translateX(0);
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    grid-area: icons;
    margin: 0;
    z-index: 999;
  }

  &__search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-area: search;
    z-index: 999;
  }

  &__logo {
    margin: 0;
  }

  &__item {
    position: relative;

    &--dropdown {

      @media ($break-md) {
        position: relative;
      }
    }

    &--index {
      @media ($break-md) {
        display: none;
      }
    }

    &:hover {

      .btnMain {
        color: $color-black;

        @media($break-md) {
          color: $color-white;
        }

        &::before {
          -webkit-transform: skew(-30deg) translate3d(70%, 0, 0);
          -moz-transform: skew(-30deg) translate3d(70%, 0, 0);
          -ms-transform: skew(-30deg) translate3d(70%, 0, 0);
          -o-transform: skew(-30deg) translate3d(70%, 0, 0);
          opacity: 1;
        }

        &::after {
          -webkit-transform: skew(30deg) translate3d(-70%, 0, 0);
          -moz-transform: skew(30deg) translate3d(-70%, 0, 0);
          -ms-transform: skew(30deg) translate3d(-70%, 0, 0);
          -o-transform: skew(30deg) translate3d(-70%, 0, 0);
          opacity: 1;
        }

        &::before, &::after {
          background-color: $color-black;
        }
      }

      .menu__dropdown {
        display: flex;
      }
    }
  }

  &__dropdown {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateX(-100%);
    //transition: transform .3s ease;
    background-color: $color-white;
    padding: 12px 0;
    z-index: 999;

    &--active {
      transform: translateX(0);
    }

    @media ($break-md) {
      align-items: flex-start;
      justify-content: flex-start;
      top: 42px;
      right: auto;
      height: auto;
      width: 1000%;
      max-width: 255px;
      transform: translateX(0);
    }
  }

  &__category {
    display: flex;
    align-items: center;
    height: 40px;
  }

  &__btn {
    @media (max-width: 767px) {
      border: none;
      color: $color-black;
      background-color: transparent;
      touch-action: none;

      &::before, &::after {
        display: none;
      }

      &:hover {
        color: $color-black;

        span {
          color: $color-black;
        }
      }
    }
  }

  &__cLink {
    height: 100%;
    padding: 12px 15px;
    border: 1px solid $color-white;

    &:hover {
      border: 1px solid $color-black;
      color: $color-black;
    }
  }

  &__icon {
    margin-left: 25px;
    svg {
      path {
        //fill: $color-gray-70;
        fill: $color-black;
        transition: fill .3s ease;
      }
    }

    &:hover {
      svg {
        path {
          fill: $color-black;
        }
      }
    }
  }
}