.product {
  width: 100%;
  max-width: 255px;
  margin: 0 auto;
  position: relative;

  //&__mobileLink {
  //  height: 100%;
  //  width: 100%;
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  background-color: #dc3545;
  //  z-index: 10;
  //
  //  @media ($break-lg) {
  //    display: none;
  //  }
  //}

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    position: relative;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $color-black;
      opacity: 0;
      transition: opacity 1s ease;
      z-index: 1;
    }
  }

  &__content .product {
    &__img {
      position: absolute;
      //top: 50%;
      //left: 50%;
      //transform: translate(-50%, -50%);
      height: 100%;
      transition: transform 1s ease;
      z-index: 0;
    }
  }

  &__link {
    display: none;
    padding: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    z-index: 1;

    @media ($break-md) {
      display: block;
    }


    &[data-action="see"] {
      top: 0;
      //transition: top .3s ease, opacity .3s ease;
    }

    &[data-action="buy"] {
      bottom: 0;
      //transition: bottom .3s ease, opacity .3s ease;
    }
  }

  &:hover {
    //cursor: pointer;
  }

  &:hover .product, &--active .product {

    &__content {
      &::before {
        opacity: .45;
      }
    }

    &__img {
      //top: 50%;
      //left: 50%;
      transform: scale(1.1);
    }

    &__link {
      display: block;
      opacity: 1;

      &[data-action="see"] {
        top: 30%;
        transition: top .3s ease, opacity 1s ease;
      }

      &[data-action="buy"] {
        bottom: 30%;
        transition: bottom .3s ease, opacity 1s ease;
      }
    }
  }

  &__name {
    margin-top: 25px;
  }

  &__price {
    margin-top: 15px;
  }
}