.search {
  padding-right: 40px;
  position: relative;

  &__input {
    display: none;
    border: 0;
    border-bottom: 1px solid $color-black;
    border-radius: 0;

    @media ($break-md) {
      display: block;
    }
  }

  &::before {
    content: '';
    height: 20px;
    width: 20px;
    background-image: url("./img/search.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}