.home {
  .section {
    &--1 {
      padding: 57px 0 7px;

      @media ($break-md) {
        padding: 7px 0;
      }
    }

    &--1 .section {
      &__banners {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 225px 225px 225px;
        grid-column-gap: 7px;
        grid-row-gap: 5px;

        @media ($break-md) {
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: 23vw;
        }
      }
    }

    &--2 {
      padding-top: 130px;
    }

    &--2 .section {
      &__header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
      }

      &__headerTitle, &__headerText {
        width: 100%;
        max-width: 675px;
      }

      &__headerTitle {
        margin-bottom: 30px;
      }

      &__headerText {
        margin-bottom: 115px;
      }

      &__topProducts {
        display: grid;
        grid-template-columns: 1fr;
        //grid-template-rows: 23vw;
        grid-column-gap: 30px;
        grid-row-gap: 65px;
        padding-bottom: 55px;

        @media ($break-sm) {
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }
      }

      &__clickForMore {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &--3 {
      padding: 130px 0;
    }

    &--3 .section {
      &__banners {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 15px;
        height: 400px;
        margin: 0 -15px;

        @media ($break-md) {
          grid-template-columns: 1fr 1fr;
          height: 200px;
        }
      }
    }

    &__footer {
      padding-bottom: 20px;
    }
  }
}

.categories {
  padding-top: 54px;
  padding-bottom: 55px;

  @media ($break-md) {
    padding-top: 255px;
  }

  .section {
    &--1 {

    }

    &--1 .section {
      &__content {
        display: grid;
        grid-template-columns: 1fr;

        @media ($break-md) {
          grid-template-columns: 1fr 3fr;
        }
      }

      &__products {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 65px;
        list-style: none;

        @media ($break-md) {
          grid-template-columns: 1fr 1fr 1fr;
        }
      }
    }
  }
}

.item {
  padding-top: 54px;
  padding-bottom: 55px;

  @media ($break-md) {
    padding-top: 255px;
  }

  .section {
    &--1 {

    }

    &--1 .section {
      &__content {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 30px;

        @media ($break-md) {
          grid-template-columns: 3fr 9fr;
        }
      }

      &__item {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 30px;
        margin: 0;
        max-width: none;

        @media ($break-md) {
          grid-template-columns: 1fr 1fr;
        }
      }

      &__products {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 65px;
      }
    }
  }
}

.categories {
  .menu__dropdown {
    display: flex;
    position: static;
    transform: translateX(0);
  }
}

