.btnMain {
  border: 2px solid $color-black;
  color: $color-white;
  background-color: $color-black;
  position: relative;
  padding: 10px 30px;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  font-weight: normal;
  height: auto;
  border-radius: 0;
  vertical-align: top;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: background-color .4s ease-in-out, color .4s ease;
  -moz-transition:  background-color .4s ease-in-out, color .4s ease;
  -ms-transition: background-color .4s ease-in-out, color .4s ease;
  -o-transition: background-color .4s ease-in-out, color .4s ease;
  outline: none;
  box-shadow: none;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  white-space: nowrap;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  span {
    display: block;
    position: relative;
    z-index: 1;
  }

  &::before, &::after {
    content: '';
    position: absolute;
    z-index: 0;
    left: 100%;
    top: 0;
    width: 150%;
    height: 100%;
    background-color: $color-white;
    -webkit-transform: skew(30deg) translate3d(0, 0, 0);
    -moz-transform: skew(30deg) translate3d(0, 0, 0);
    -ms-transform: skew(30deg) translate3d(0, 0, 0);
    -o-transform: skew(30deg) translate3d(0, 0, 0);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
  }

  &::before {
    left: auto;
    right: 100%;
    -webkit-transform: skew(-30deg) translate3d(0, 0, 0);
    -moz-transform: skew(-30deg) translate3d(0, 0, 0);
    -ms-transform: skew(-30deg) translate3d(0, 0, 0);
    -o-transform: skew(-30deg) translate3d(0, 0, 0);
  }

  &:hover {
    color: $color-black;

    &::before {
      -webkit-transform: skew(-30deg) translate3d(70%, 0, 0);
      -moz-transform: skew(-30deg) translate3d(70%, 0, 0);
      -ms-transform: skew(-30deg) translate3d(70%, 0, 0);
      -o-transform: skew(-30deg) translate3d(70%, 0, 0);
      opacity: 1;
    }

    &::after {
      -webkit-transform: skew(30deg) translate3d(-70%, 0, 0);
      -moz-transform: skew(30deg) translate3d(-70%, 0, 0);
      -ms-transform: skew(30deg) translate3d(-70%, 0, 0);
      -o-transform: skew(30deg) translate3d(-70%, 0, 0);
      opacity: 1;
    }
  }

  &--reverse {
    border: 2px solid $color-white;
    color: $color-black;
    background-color: $color-white;

    &::before, &::after {
      background-color: $color-black;
    }

    &:hover {
      color: $color-white;
    }
  }

  &--transparent {
    width: 100%;
    max-width: 137px;
    border: 2px solid $color-white;
    background-color: transparent;
  }
}