.footer {
  width: 100%;
  padding-bottom: 25px;

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "brand"
    "text"
    "contact"
    "menu1"
    "menu2";

    @media ($break-md) {
      grid-template-columns: 6fr 4fr 2fr;
      grid-gap: 30px;
      grid-template-areas: "brand   brand   brand"
      "text    menu1   menu2"
      "contact contact contact";
    }

    @media ($break-lg) {
      grid-template-columns: 6fr 3fr 3fr;
    }
  }

  &__brand {
    font-size: 36px;
    line-height: 1.2;
    font-family: $font-secondary;
    font-weight: normal;
    text-transform: none;
    font-feature-settings: 'pnum' on, 'lnum' on, 'kern' off;
    grid-area: brand;
    margin-bottom: 25px;

    @media ($break-md) {
      margin-bottom: 0;
    }
  }

  &__text {
    width: 100%;
    max-width: 380px;
    grid-area: text;
    margin-bottom: 25px;

    @media ($break-md) {
      margin-bottom: 0;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    grid-area: contact;
    width: 100%;
    max-width: 380px;
    list-style: none;
    margin-bottom: 25px;

    @media ($break-md) {
      flex-direction: row;
      margin-bottom: 0;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    margin: 0;

    &--1 {
      grid-area: menu1;
    }

    &--2 {
      grid-area: menu2;
    }
  }

  &__item {
    padding: 8px 0;

    @media ($break-md) {
      padding: 0;
    }
  }

  &__link {
    letter-spacing: 0.1em;
    font-feature-settings: 'pnum' on, 'lnum' on, 'kern' off;
    color: $color-black;

    &:hover {
      color: $color-black;
    }
  }

  &__icon {
    display: flex;
    height: 25px;
    width: 25px;

    svg {
      height: 100%;
      width: 100%;

      path {
        fill: $color-black;
      }
    }
  }
}