.hero {
  height: calc(100vh - 50px);
  padding-top: $menu-mobile-height;

  @media ($break-md) {
    height: 100vh;
    padding-top: $menu-height;
  }

  &__bg {
    display: flex;
    align-items: flex-end;
    height: 100%;
    background-color: $color-white;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: 90% top;
    background-repeat: no-repeat;
    position: relative;

    @media ($break-md) {
      align-items: center;
    }
    
    @media ($break-xl) {
      background-position: center top;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba($color-gray-30, 0.2);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    z-index: 2;
  }

  &__headerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $color-white;
    position: relative;
    bottom: -50px;
    padding: 16px 23px;
    z-index: 1;

    @media ($break-md) {
      align-items: flex-start;
      width: auto;
      background-color: transparent;
      bottom: 0;
    }
  }

  &__header {
    width: 100%;
    max-width: 300px;
    text-align: center;

    @media ($break-md) {
      text-align: left;
    }

    @media ($break-lg) {
      max-width: 500px;
    }
  }

  &__subheader {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $color-black;
  }
}