.preview {
  width: 100%;
  max-width: 445px;
  margin: 0 auto;

  &__main {
    max-width: 100%;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 5px;
    list-style: none;
    padding-top: 5px;

    @media ($break-md) {
      grid-column-gap: 25px;
      padding-top: 25px;
    }
  }

  &__item {
    position: relative;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba($color-white, .5);
      opacity: 0;
      transition: opacity .3s ease;
    }

    &--active {
      &::before {
        opacity: 1;
      }
    }

    &:hover {
      &::before {
        opacity: 1;
      }
    }
  }

  &__img {
    max-width: 100%;
  }
}