.sidebar {
  display: none;
  flex-direction: column;

  @media ($break-md) {
    display: flex;
  }

  &__dropdown {
    flex-direction: column;
    width: 1000%;
    max-width: 255px;
    list-style: none;
    background-color: $color-gray-10;
    border-left: 1px solid $color-black;
    margin: 12px 0;
    padding-left: 25px;
    z-index: 1;
  }

  &__category {
    display: flex;
    align-items: center;
    height: 40px;
  }

  &__cLink {
    height: 100%;
    padding: 12px 15px;
    border: 1px solid $color-gray-10;
    color: $color-black;

    &:hover {
      border: 1px solid $color-black;
      color: $color-black;
    }
  }

  &__mLink {
    color: $color-black;
  }
}